In [1]:
import pandas as pd 
import numpy as np

In [41]:
df=pd.read_excel("10 universities.xlsx")
df

                                    Universities  ...  CGPA
0         University of Arkansas at Little Rock   ...     2
1    University of Colorado at Colorado Springs   ...  3.25
2                  Western Governors University   ...     2
3             University of Louisiana at Monroe   ...   2.5
4       The University of Maine at Presque Isle   ...   2.5
..                                           ...  ...   ...
196                         Wayne State College   ...   2.4
197                          Webster University   ...   2.5
198                Western Governors University   ...     2
199                    Wichita State University   ...   2.5
200                 Youngstown State University   ...   2.7

[201 rows x 5 columns]

In [44]:
df1=df.dropna()

In [45]:
df1

                                    Universities  ...  CGPA
0         University of Arkansas at Little Rock   ...     2
1    University of Colorado at Colorado Springs   ...  3.25
3             University of Louisiana at Monroe   ...   2.5
4       The University of Maine at Presque Isle   ...   2.5
5          University of Maryland Eastern Shore   ...   3.5
..                                           ...  ...   ...
196                         Wayne State College   ...   2.4
197                          Webster University   ...   2.5
198                Western Governors University   ...     2
199                    Wichita State University   ...   2.5
200                 Youngstown State University   ...   2.7

[188 rows x 5 columns]

In [46]:
df2.head()

0     2.0
7     3.0
9     2.0
10    2.0
12    3.0
Name: CGPA, dtype: float64

In [40]:
import matplotlib.pyplot as plt

# Assuming you have a DataFrame 'universities_df' with "Universities" and "CGPA" columns
# Example data
universities = df1["Universities"]
cgpa = df2["CGPA"]

# Create a scatter plot
plt.figure(figsize=(10, 6))
plt.scatter(universities, cgpa, marker='o', color='blue', alpha=0.7)
plt.xticks(rotation=90)  # Rotate x-axis labels for better readability
plt.xlabel("Universities")
plt.ylabel("CGPA")
plt.title("CGPA vs. Universities")
plt.tight_layout()

# Show the plot
plt.show()

KeyError: 'CGPA'

In [30]:
df2

0         2
1      3.25
3       2.5
4       2.5
5       3.5
       ...
196     2.4
197     2.5
198       2
199     2.5
200     2.7
Name: CGPA, Length: 188, dtype: object

In [50]:
def get_first_token(input_string):
    # Convert the input to a string
    input_string = str(input_string)
    
    # Split the input string by the "-" character
    tokens = input_string.split("-")
    
    # Get the first token (element at index 0)
    first_token = tokens[0]
    
    return first_token

# Convert the "CGPA" column to strings

In [47]:
df1.loc["CGPA"] = df1["CGPA"].astype(str)

C:\Users\user\AppData\Local\Temp\ipykernel_3340\330922703.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.loc["CGPA"] = df1["CGPA"].astype(str)

In [52]:
df3=df1[df1["CGPA"].str.isnumeric()]["CGPA"].apply(get_first_token).astype(float)

ValueError: Cannot mask with non-boolean array containing NA / NaN values